@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css')
layer(base);

@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans), Inter, ui-sans-serif, system-ui;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;
  --font-serif: Noto Serif Devanagari, ui-serif, Georgia;

  --width-60: 15rem;
  --width-140: 35rem;

  --height-320: 80rem;

  --translate-87_5: 21.875rem;

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes pulse {
    50% {
      opacity: 0.5;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
  /* @layer base {
  :root {
    --background: 330 0% 95.1%;
    --foreground: 30 0% 18.400000000000006%;
    --card: 334.3 0% 88.8%;
    --card-foreground: 30 0% 18.400000000000006%;
    --popover: 342.9 0% 69.8%;
    --popover-foreground: 338.2 0% 10%;
    --primary: 13.8 62.900000000000006% 43.3%;
    --primary-foreground: 338.2 0% 10%;
    --secondary: 342.9 0% 69.8%;
    --secondary-foreground: 338.2 0% 10%;
    --muted: 330 0% 85.1%;
    --muted-foreground: 334.3 0% 57.8%;
    --accent: 330 0% 95.1%;
    --accent-foreground: 30 0% 18.400000000000006%;
    --destructive: 357.2 100% 29%;
    --destructive-foreground: 0 0% 90%;
    --border: 342.9 0% 69.8%;
    --input: 342.9 0% 69.8%;
    --ring: 13.8 62.900000000000006% 43.3%;
    --radius: 0.5rem;
    --chart-1: 13.8 62.900000000000006% 80%;
    --chart-2: 342.9 0% 60.2%;
    --chart-3: 330 0% 44.9%;
    --chart-4: 330 0% 54.9%;
    --chart-5: 13.8 62.900000000000006% 80%;

    --sidebar-background: 0 0% 92%;
    --sidebar-foreground: 0 0% 38%;
    --sidebar-primary: 14 63% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 75%;
    --sidebar-accent-foreground: 30 0% 18.400000000000006%;
    --sidebar-border: 0 0% 67%;
    --sidebar-ring: 14 63% 40%;
  }

  .dark {
    --background: 330 0% 14.9%;
    --foreground: 30 2.1% 81.6%;
    --card: 334.3 0% 12.2%;
    --card-foreground: 30 2.1% 81.6%;
    --popover: 342.9 0% 30.2%;
    --popover-foreground: 338.2 0% 100%;
    --primary: 13.8 72.9% 56.7%;
    --primary-foreground: 338.2 0% 100%;
    --secondary: 342.9 0% 30.2%;
    --secondary-foreground: 338.2 0% 100%;
    --muted: 330 0% 14.9%;
    --muted-foreground: 334.3 0% 42.2%;
    --accent: 330 0% 14.9%;
    --accent-foreground: 30 2.1% 81.6%;
    --destructive: 357.2 125.9% 71%;
    --destructive-foreground: 0 0% 0%;
    --border: 342.9 0% 30.2%;
    --input: 342.9 0% 30.2%;
    --ring: 13.8 72.9% 56.7%;
    --radius: 0.5rem;
    --chart-1: 13.8 72.9% 56.7%;
    --chart-2: 342.9 0% 30.2%;
    --chart-3: 330 0% 14.9%;
    --chart-4: 330 0% 24.9%;
    --chart-5: 13.8 72.9% 66.7%;

    --sidebar-background: 0 0% 7%;
    --sidebar-foreground: 30 2% 56%;
    --sidebar-primary: 14 73% 49%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 25%;
    --sidebar-accent-foreground: 30 2.1% 81.6%;
    --sidebar-border: 0 0% 22%;
    --sidebar-ring: 14 73% 49%;
  }
} */

  /* zinc theme by shadcn */

  :root {
    --background: 223.8136 0.0005% 98.6829%;
    --foreground: 0 0% 0%;
    --card: 223.8136 -172.5242% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 223.8136 0.0005% 98.6829%;
    --popover-foreground: 0 0% 0%;
    --primary: 0 0% 0%;
    --primary-foreground: 223.8136 -172.5242% 100%;
    --secondary: 223.8136 0.0001% 92.1478%;
    --secondary-foreground: 0 0% 0%;
    --muted: 223.8136 0.0002% 96.0587%;
    --muted-foreground: 223.8136 0% 32.3067%;
    --accent: 223.8136 0.0001% 92.1478%;
    --accent-foreground: 0 0% 0%;
    --destructive: 358.4334 74.912% 59.7455%;
    --destructive-foreground: 223.8136 -172.5242% 100%;
    --border: 223.8136 0.0001% 89.5577%;
    --input: 223.8136 0.0001% 92.1478%;
    --ring: 0 0% 0%;
    --chart-1: 40.6655 100.2361% 50.9228%;
    --chart-2: 223.749 85.9924% 55.8092%;
    --chart-3: 223.8136 0% 64.471%;
    --chart-4: 223.8136 0.0001% 89.5577%;
    --chart-5: 223.8136 0% 45.6078%;
    --sidebar: 223.8136 0.0005% 98.6829%;
    --sidebar-foreground: 0 0% 0%;
    --sidebar-primary: 0 0% 0%;
    --sidebar-primary-foreground: 223.8136 -172.5242% 100%;
    --sidebar-accent: 223.8136 0.0001% 92.1478%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 223.8136 0.0001% 92.1478%;
    --sidebar-ring: 0 0% 0%;
    --radius: 0.5rem;
    --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
    --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
    --shadow-sm:
      0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
    --shadow:
      0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
    --shadow-md:
      0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
    --shadow-lg:
      0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
    --shadow-xl:
      0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
    --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 223.8136 0.0004% 98.0256%;
    --card: 223.8136 0% 3.5452%;
    --card-foreground: 223.8136 -172.5242% 100%;
    --popover: 223.8136 0% 6.8692%;
    --popover-foreground: 223.8136 -172.5242% 100%;
    --primary: 223.8136 0.0001% 89.8161%;
    --primary-foreground: 0 0% 0%;
    --secondary: 223.8136 0% 14.9382%;
    --secondary-foreground: 223.8136 0.0004% 98.0256%;
    --muted: 223.8136 0% 14.9382%;
    --muted-foreground: 223.8136 0% 63.0163%;
    --accent: 223.8136 0% 19.8916%;
    --accent-foreground: 223.8136 -172.5242% 100%;
    --destructive: 359.9132 100.2494% 67.8807%;
    --destructive-foreground: 0 0% 0%;
    --border: 223.8136 0% 14.0871%;
    --input: 223.8136 0% 19.8916%;
    --ring: 223.8136 0% 45.1519%;
    --chart-1: 40.6655 100.2361% 50.9228%;
    --chart-2: 218.1624 90.0354% 55.1618%;
    --chart-3: 223.8136 0% 45.6078%;
    --chart-4: 223.8136 0% 32.3067%;
    --chart-5: 223.8136 0.0001% 89.5577%;
    --sidebar: 223.8136 0% 6.8692%;
    --sidebar-foreground: 223.8136 -172.5242% 100%;
    --sidebar-primary: 223.8136 -172.5242% 100%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 223.8136 0% 19.8916%;
    --sidebar-accent-foreground: 223.8136 -172.5242% 100%;
    --sidebar-border: 223.8136 0% 19.8916%;
    --sidebar-ring: 223.8136 0% 79.2139%;
    --radius: 0.5rem;
    --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
    --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
    --shadow-sm:
      0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
    --shadow:
      0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
    --shadow-md:
      0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
    --shadow-lg:
      0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
    --shadow-xl:
      0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
    --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
  }

  /*native shadcn */

  /* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
} */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  button,
  [role = "button"]{
    cursor: pointer;
  }
}

/* NProgress styles */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: hsl(var(--primary));
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px hsl(var(--primary)), 0 0 5px hsl(var(--primary));
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: hsl(var(--primary));
  border-left-color: hsl(var(--primary));
  border-radius: 50%;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Custom thin scrollbar for code blocks */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px; /* Height of the horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Makes the track invisible */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3b3b3b; /* A color from the nord theme to match the syntax highlighter */
  border-radius: 4px;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3b3b3b transparent;
}

/* Hide scrollbar in Chrome, Safari, and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar in IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}   

.text-dual-muted {
  @apply text-foreground dark:text-muted-foreground;
}   

/*
  ---break---
*/   

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}   

/*
  ---break---
*/   

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}   

/*
  ---break---
*/   

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}   

/*
  ---break---
*/   

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}


/* css for progress-bar (bprogressBar) */


/* Global variables */
:root {
  --bprogress-color: #29d;
  --bprogress-height: 2px;
  --bprogress-spinner-size: 18px;
  --bprogress-spinner-animation-duration: 400ms;
  --bprogress-spinner-border-size: 2px;
  --bprogress-box-shadow: 0 0 10px var(--bprogress-color), 0 0 5px var(--bprogress-color);
  --bprogress-z-index: 99999;
  --bprogress-spinner-top: 15px;
  --bprogress-spinner-bottom: auto;
  --bprogress-spinner-right: 15px;
  --bprogress-spinner-left: auto;
}
 
.bprogress {
  width: 0;
  height: 0;
  pointer-events: none;
  z-index: var(--bprogress-z-index);
   background: linear-gradient(90deg, #3b82f6, #60a5fa); /* blue gradient */
}
 
.bprogress .bar {
  background: var(--bprogress-color);
  position: fixed;
  z-index: var(--bprogress-z-index);
  top: 0;
  left: 0;
  width: 100%;
  height: var(--bprogress-height);
  opacity: 0.5; /* change opacity of the bprogressbar */
}
 
/* Fancy blur effect */
.bprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: var(--bprogress-box-shadow);
  opacity: 1.0;
  transform: rotate(3deg) translate(0px, -4px);
}
 
/* Remove these to get rid of the spinner */
.bprogress .spinner {
  display: block;
  position: fixed;
  z-index: var(--bprogress-z-index);
  top: var(--bprogress-spinner-top);
  bottom: var(--bprogress-spinner-bottom);
  right: var(--bprogress-spinner-right);
  left: var(--bprogress-spinner-left);
}
 
.bprogress .spinner-icon {
  width: var(--bprogress-spinner-size);
  height: var(--bprogress-spinner-size);
  box-sizing: border-box;
  border: solid var(--bprogress-spinner-border-size) transparent;
  border-top-color: var(--bprogress-color);
  border-left-color: var(--bprogress-color);
  border-radius: 50%;
  -webkit-animation: bprogress-spinner var(--bprogress-spinner-animation-duration) linear infinite;
  animation: bprogress-spinner var(--bprogress-spinner-animation-duration) linear infinite;
}
 
/* Custom parent styles */
.bprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
 
.bprogress-custom-parent .bprogress .spinner,
.bprogress-custom-parent .bprogress .bar {
  position: absolute;
}
 
/* Styles for indeterminate progress mode */
.bprogress .indeterminate {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--bprogress-height);
  overflow: hidden;
}
 
.bprogress .indeterminate .inc,
.bprogress .indeterminate .dec {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: var(--bprogress-color);
}
 
.bprogress .indeterminate .inc {
  animation: bprogress-indeterminate-increase 2s infinite;
}
 
.bprogress .indeterminate .dec {
  animation: bprogress-indeterminate-decrease 2s 0.5s infinite;
}
 
@-webkit-keyframes bprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
 
@keyframes bprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
 
@keyframes bprogress-indeterminate-increase {
  from { left: -5%; width: 5%; }
  to { left: 130%; width: 100%; }
}
 
@keyframes bprogress-indeterminate-decrease {
  from { left: -80%; width: 80%; }
  to { left: 110%; width: 10%; }
}
